@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://raw.githubusercontent.com/ignacio2194/rickAndMorty-API/main/images/heic1909a.jpg);
 
  


}
h1{
  color: rgb(41, 40, 40);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainContainer_character__contenido:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: 0.5s;
  width: 80%;
  height: 80%;
  margin-bottom: 55px;
  text-align: center;
  cursor: pointer;
}
* {
  font-family: Ubuntu, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1e234d;
  height: 100%;

}
/* html {
  height: 100%;
  overflow: hidden;
} */
.wrapper {
  position: absolute;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 25%;
  right: 0;
  text-align: center;
  
}
.wrapper span {
  position: relative;
  color: #fff;
  font-weight: 900;
  font-size: 20.4em;
  display: block;
  overflow-y: hidden;
  width: fit-content;
  height: max-content;
  text-align: center;
}
.wrapper span:first-letter {
  letter-spacing: 12vmax;
}
.wrapper span:before {
  content: "";
  background-image: url("https://staticdelivery.nexusmods.com/mods/1151/images/528-0-1447526230.png");
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: rotateIn 0.5s ease-out;
  overflow-y: hidden;
}
.wrapper p {
  text-align: start;
  margin-left: 30px;
  font-style: italic;
  font-weight: 400;
  color: #fff;
  margin-top: 0;
  line-height: 22px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
 }
  to {
    transform: rotate(-360deg);
 }
}
@keyframes rotateIn {
  from {
    transform: rotate(0deg) scale(0.2);
    opacity: 0;
 }
  to {
    transform: rotate(360deg) scale(1);
    opacity: 1;
 }
}
.space {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200vh;
  margin-left: -200vw;
  animation: spin 240s linear infinite;
  backface-visibility: visible;
  background-image: url(https://raw.githubusercontent.com/ignacio2194/rickAndMorty-API/main/images/heic1909a.jpg);
  z-index: -100;

  
}

tr:nth-child(2n + 1) {
  background-color: gray;
}
